<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings/>
  <connectionStrings>
    <!--<add name="Provider" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;data source=" providerName="System.Data.OleDb"/>-->
    <add name="Provier" connectionString="server=local;database=aa;user=sa;pwd=" providerName="System.Data.SqlClient"/>
    <add name="DataPath" connectionString="~\\App_Data\\xx.mdb"/>
  </connectionStrings>

  <system.web>
        <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <add name="UnhandledExceptionModule" type="CCAIDemo.Utility.UnhandledExceptionModule" />
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
    </httpHandlers>
  </system.web>

</configuration>
